<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<h1>Tenant Lists</h1>
<div style="margin: 5px" class="alert alert-danger" ng-show="err">
    {{err}}
</div>

<div ng-show="lst">
  <div><strong> Find {{lst.length}} Records </strong> </div>
  <table>
    <tr>
      <td>Name</td>
      <td>DefaultDomainName</td>
      <td>Manage Users</td>
	  <td>Manage Licenses</td>
    <tr ng-repeat="line in lst">
      <td> {{line.Name}}</td>
      <td> {{line.DefaultDomainName}}</td>
      <td> <a href='new_index.html#!/users/{{line.TenantId}}'>Manage Users</a></td>
      <td> <a href='new_index.html#!/licenses/{{line.TenantId}}'>Manage Licenses</a></td>
    </tr>
  </table>
  <div ng-repeat="line in arr"> {{$index + 1}}
  <table>
    <tr>
      <td>AccountSkuId</td>
      <td>ActiveUnits</td>
      <td>ConsumedUnits</td>

    </tr>    
    <tr ng-repeat="l in line">
      <td> {{l.AccountSkuId}}</td>
      <td> {{l.ActiveUnits}}</td>
      <td> {{l.ConsumedUnits}} </td>

    </tr>
  </table>
  </div>
</div>

