<h1>User - {{dName}}</h1>
<div style="margin: 5px" class="alert alert-danger" ng-show="err">
  {{err}}
</div>
<div>
  <div ng-show="userLicenses">
    <div>License of the User</div>
    <table>
      <tr>
	<td>License</td>
	<td>Remove</td>
      </tr>   
      <tr ng-repeat="line in userLicenses.Licenses">
	<td> {{line.AccountSkuId}}</td>
	<td><button ng-click="remove(line.AccountSkuId)"> remove</button></td>
      </tr>
    </table>
  </div>
  <p></p>

  <div ng-show="accountLicenses">
    <div>License of the Account</div>
    <table>
      <tr>
	<td>AccountSkuId</td>
	<td>ActiveUnits</td>
	<td>ConsumedUnits</td>
	<td>Assgin To User</td>
      </tr>    
      <tr ng-repeat="line in accountLicenses">
	<td> {{line.AccountSkuId}}</td>
	<td> {{line.ActiveUnits}}</td>
	<td> {{line.ConsumedUnits}} </td>
	<td> <button ng-click="add(line.AccountSkuId)"> add</button></td>
      </tr>
    </table>
  </div>
</div>
