<h1>User Lists</h1>
<div style="margin: 5px" class="alert alert-danger" ng-show="err">
    {{err}}
</div>

<div ng-show="lst">
  <div><strong> Find {{lst.length}} Records </strong> </div>
  <table>
    <tr>
      <td>UserPrincipalName</td>
      <td>DisplayName</td>
      <!--td>Licenses</td!-->
      <td>Manage User</td>
      <td>Reset Password</td>
    </tr>
    
    <tr ng-repeat="line in lst">
      <td> {{line.UserPrincipalName}}</td>
      <td> {{line.DisplayName}}</td>
      <!--td> {{line.Licenses}}</td!-->
      <td> <a href='index.html#!/user/{{line.UserPrincipalName}}/{{line.DisplayName}}/{{id}}'>Manage License</a></td>
      <td><button ng-click='resetPassword(line.UserPrincipalName)'> Reset Password</button></td>
    </tr>

    
  </table>
</div>

